# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

 . Create some Code and Markdown cells in Jupyter Notebook
 . Create a Table 
 . List popular languages used by Data Scientists
 . List some libraries used by Data Scientists

Some of the popular languages that data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries uses by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| R Studio          |
| Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This is a simple arithmetic expression to mutiply then add integers .
a = (3*4)+5
print(a)

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
# if an hour is equal to 60 minutes then we will divide 200 by 60
hour = minutes/60
hour

3.3333333333333335

## Author 

Amani Jacques Konan