In [5]:
import yfinance as yf

In [ ]:
# Create a ticker object for Tesla

In [6]:
Tesla = yf.Ticker("TSLA")

In [ ]:
# Extrxt stock information and save it a dataframe named tesla_data

In [7]:
tesla_data = Tesla.history(period="max")

In [ ]:
# Let now Reset Index and Display First five Rows

In [8]:
df = tesla_data
df.reset_index(inplace=True)
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [38]:
## Question 2
# I will extract Tesla's quartely revenue data first

In [39]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [40]:
# Define the URL for Tesla's revenue data

In [41]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [42]:
response = requests.get(url)
html_data = response.content

In [43]:
# Parse the HTML daa using BeautifulSoup

In [44]:
soup = BeautifulSoup(html_data, 'html.parser')
soup.find('html_data')

In [56]:
# Find all tables containing Tesla's quarterly revenue

In [57]:
tesla_tables = soup.find_all("table")

In [58]:
# Check if any tables were found # Assuming tesla_table_index is valid # Assuming you want to extract data from the first table in the list

In [59]:
if len(tesla_tables) == 0:
    print("No tables found on the webpage.")
else:
    tesla_table_index = 0

No tables found on the webpage.

In [60]:
# Ensure that the tesla_table_index is within the range of tesla_tables

In [86]:
if tesla_table_index == len(tesla_tables):
    tesla_table = tesla_tables[tesla_table_index]
    print("Invalid tesla_table_index. Index out of range.")

In [87]:
# Create an empty DataFrame to store the revenue data

In [88]:
dates = []
revenues = []
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

In [89]:
# Extract data from the table rows

In [90]:
for row in tesla_table.tbody.find_all("tr"):
            col = row.find_all("td")
            dates.append(col[0].text)
            revenues.append(col[1].text)

NameError: name 'tesla_table' is not defined

In [91]:
# Clean up the revenue column (remove commas and dollar signs)

In [92]:
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(',|\\$', "")

In [93]:
# Drop any rows with missing or empty revenue values

In [94]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue["Revenue"] != ""]

In [95]:
# Display the last five rows of the DataFrame

In [96]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []